.center {
    margin: auto;
    width: 30%;
    position: relative;
    padding: 10px;
}

.navbar-brand-custom {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  color: white;
}

.lead-custom {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.4;
}

.col-md-3-custom {
  width: 100%;
}
